# For a 16-bit signed integer with a slope/offset linear conversion
record(ai, "$(P)$(R)") {
    field(DTYP, "asynInt32")
    field(INP,  "@asynMask($(PORT) $(OFFSET))INT16")
    field(LINR, "LINEAR")
    field(ESLO, "$(ESLO=1)")
    field(EOFF, "$(EOFF=0)")
    field(PREC, "$(PREC=1)")
    field(EGU,  "$(EGU="")")
    field(SCAN, "$(SCAN)")
}

