
record(ai, "$(P)$(R)_raw") {
    field(DTYP, "asynInt32")
    field(DESC, "$(DESC="") Raw")
    field(INP,  "@asyn($(PORT) $(OFFSET))MODBUS_DATA")
    field(PREC, "$(PREC=1)")
    field(SCAN, "$(SCAN="I/O Intr")")
    field(FLNK, "$(P)$(R)_conv")
}

record(calc, "$(P)$(R)_conv") {
    field(DESC, "Convert using poly coeff")
    field(ASG,  "Internal")
    field(INPA, "$(P)$(R)_raw")
    field(INPB, "$(P)$(R)_C0")
    field(INPC, "$(P)$(R)_C1")
    field(INPD, "$(P)$(R)_C2")
    field(INPE, "$(P)$(R)_C3")
    field(INPF, "$(P)$(R)_C4")
    field(INPG, "$(P)$(R)_C5")
    field(CALC, "B + A*C + A^2*D + A^3*E + A^4*F + A^5*G")
    field(FLNK, "$(P)$(R)")
}

record(ai, "$(P)$(R)") {
    field(DESC, "$(DESC="")")
    field(INP,  "$(P)$(R)_conv")
    field(EGU,  "$(EGU="")")
    field(PREC, "$(PREC=2)")
    field(LOLO, "$(LOLO="")")
    field(LOW,  "$(LOW="")")
    field(HIGH, "$(HIGH="")")
    field(HIHI, "$(HIHI="")")
    field(LLSV, "$(LLSV=NO_ALARM)")
    field(LSV,  "$(LSV=NO_ALARM)")
    field(HSV,  "$(HSV=NO_ALARM)")
    field(HHSV, "$(HHSV=NO_ALARM)")
    field(HYST, "$(HYST="")")
    info(autosaveFields, "LOLO LOW HIGH HIHI HYST LLSV LSV HSV HHSV")
}

record(ao, "$(P)$(R)_C0") {
    field(DESC, "0th order coeff.")
    field(VAL,  "$(C0=0)")
    field(PREC, "4")
    field(FLNK, "$(P)$(R)_conv")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)_C1") {
    field(DESC, "1st order coeff.")
    field(VAL,  "$(C1=0)")
    field(PREC, "4")
    field(FLNK, "$(P)$(R)_conv")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)_C2") {
    field(DESC, "2nd order coeff.")
    field(VAL,  "$(C2=0)")
    field(PREC, "4")
    field(FLNK, "$(P)$(R)_conv")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)_C3") {
    field(DESC, "3rd order coeff.")
    field(VAL,  "$(C3=0)")
    field(PREC, "4")
    field(FLNK, "$(P)$(R)_conv")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)_C4") {
    field(DESC, "4th order coeff.")
    field(VAL,  "$(C4=0)")
    field(PREC, "4")
    field(FLNK, "$(P)$(R)_conv")
    info(autosaveFields, "VAL")
}

record(ao, "$(P)$(R)_C5") {
    field(DESC, "5th order coeff.")
    field(VAL,  "$(C5=0)")
    field(PREC, "4")
    field(FLNK, "$(P)$(R)_conv")
    info(autosaveFields, "VAL")
}

