record(ai, "$(P)$(R)") {
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT) $(OFFSET))MODBUS_DATA")
    field(LINR, "ssaPwrRef")
    field(PREC, "$(PREC=1)")
    field(EGU,  "$(EGU="")")
    field(SCAN, "$(SCAN)")
    info(autosaveFields, "LOLO LOW HIGH HIHI HYST LLSV LSV HSV HHSV")
}

