record(ai, "$(P)$(R)") {
    field(DTYP, "asynInt32")
    field(DESC, "$(DESC="")")
    field(INP,  "@asyn($(PORT) $(OFFSET))MODBUS_DATA")
    field(ASLO, "$(ASLO=1)")
    field(AOFF, "$(AOFF=0)")
    field(PREC, "$(PREC=1)")
    field(EGU,  "$(EGU="")")
    field(LOLO, "$(LOLO="")")
    field(LOW,  "$(LOW="")")
    field(HIGH, "$(HIGH="")")
    field(HIHI, "$(HIHI="")")
    field(LSV,  "$(LSV="")")
    field(LLSV, "$(LLSV="")")
    field(HSV,  "$(HSV="")")
    field(HHSV, "$(HHSV="")")
    field(SCAN, "$(SCAN="I/O Intr")")
    info(autosaveFields, "LOLO LOW HIGH HIHI HYST LLSV LSV HSV HHSV")
}

