record(ao, "$(P)$(R)") {
    field(DESC, "$(DESC="")")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT) $(OFFSET))MODBUS_DATA")
    field(ASLO, "$(ASLO)")
    field(AOFF, "$(AOFF)")
    field(DRVL, "$(DRVL)")
    field(DRVH, "$(DRVH)")
    field(LOPR, "$(LOPR)")
    field(HOPR, "$(HOPR)")
    field(EGU,  "$(EGU)")
    field(PREC, "$(PREC)")
}

