record(longout, "$(P)$(R)") {
    field(DTYP, "asynUInt32Digital")
    field(OUT,  "@asynMask($(PORT) $(OFFSET) 0xFFFF)")
    field(DRVL, "$(DRVL)")
    field(DRVH, "$(DRVH)")
    field(LOPR, "$(LOPR)")
    field(HOPR, "$(HOPR)")
    field(EGU,  "$(EGU)")
}
