record(calcout, "$(P)$(R)VCPowCalc")
{
  field(INPA, "$(P)$(R1) PP")
  field(INPB, "$(P)$(R2) PP")
  field(DESC, "$(R) Power Calc")
  field(CALC, "A*B")
  field(OUT, "$(P)$(R)EffCalc")
}

record(calcout, "$(P)$(R)EffCalc")
{
  field(INPA, "$(P)$(R)VCPowCalc PP")
  field(INPB, "$(P)$(J) PP")
  field(DESC, "Efficiency Calc")
  field(CALC, "A/B")
}
