
# This is a dummy PV so that all R&K SSAs can share the same sequencer routine.
# Since this register doesn't exist in this SSA, it should be set to 0.
record(longout, "$(P)RFCountdown"){
    field(DESC, "Ready for RF (dummy PV)")
    field(ASG,  "$(ASG)")
    field(HIGH, "1")
    field(HSV,  "MINOR")
    field(DOL,  "0")
    field(OMSL, "closed_loop")
    field(PINI, "1")
}

# This is a dummy PV so that all R&K SSAs can share the same sequencer routine.
# Since this register doesn't exist in this SSA, it should be set to 0.
record(longout, "$(P)CritWarnCode"){
    field(DESC, "Crit warn code (dummy PV)")
    field(ASG,  "$(ASG)")
    field(HIGH, "1")
    field(HSV,  "MINOR")
    field(DOL,  "0")
    field(OMSL, "closed_loop")
    field(PINI, "1")
}

# This is a dummy PV so that all R&K SSAs can share the same sequencer routine.
# Since this register doesn't exist in this SSA, it should be set to 0.
record(bo, "$(P)ProcReset"){
    field(DESC, "Processor reset (dummy PV)")
    field(ASG,  "$(ASG)")
    field(ZNAM, "Standby")
    field(ONAM, "Resetting...")
    field(OSV,  "MINOR")
    field(DOL,  "0")
    field(OMSL, "closed_loop")
    field(PINI, "1")
}

# This is a dummy PV so that all R&K SSAs can share the same sequencer routine.
# Since this register doesn't exist in this SSA, it should be set to 1.
record(bo, "$(P)ModuleOnSum"){
    field(DESC, "Module on sum (dummy PV)")
    field(ASG,  "$(ASG)")
    field(ZNAM, "NotAllOn")
    field(ONAM, "AllOn")
    field(ZSV,  "MAJOR")
    field(DOL,  "1")
    field(OMSL, "closed_loop")
    field(PINI, "1")
}

# --- Drive (input) power -------------------------------------------------------------
record(calc, "$(P)DrvPwr_dBm") {
    field(DESC, "Drive power [dBm]")
    field(INPA, "$(P)DrvPwr CP MS")
    field(INPB, "-1.095E-12")
    field(INPC, "7.43E-9")
    field(INPD, "-1.977E-5")
    field(INPE, "0.0296")
    field(INPF, "-15.618")
    field(EGU,  "dBm")
    field(PREC, "1")
    field(CALC, "A^4*B+A^3*C+A^2*D+A*E+F")
    field(FLNK, "$(P)DrvPwr_mW")
}

record(calc, "$(P)DrvPwr_mW") {
    field(DESC, "Drive power [mW]")
    field(INPA, "$(P)DrvPwr MS")
    field(INPB, "1.065E-6")
    field(INPC, "3.147E-5")
    field(INPD, "0.0404")
    field(EGU,  "mW")
    field(PREC, "1")
    field(CALC, "A^2*B+A*C+D")
}

# --- Fault messages -------------------------------------------------------------
record(aSub, "$(P)FaultIntAsub"){
    field(DESC, "Internal fault message aSub")
    field(ASG,  "Internal")
    field(SNAM, "asFaultMsg")
    field(INPA, "$(P)ErrCodeInt CP MS")
    field(FTA,  "LONG")  
    field(NOA,  "1")
    field(FTVA, "STRING")  
    field(NOVA, "1")
    field(OUTA, "$(P)FaultIntMsg PP MS")
}

record(stringin, "$(P)FaultIntMsg") {
    field(DESC, "Internal Fault")
}

record(aSub, "$(P)FaultExtAsub"){
    field(DESC, "External fault message aSub")
    field(ASG,  "Internal")
    field(SNAM, "asFaultMsg")
    field(INPA, "$(P)ErrCodeExt CP MS")
    field(FTA,  "LONG")  
    field(NOA,  "1")
    field(FTVA, "STRING")  
    field(NOVA, "1")
    field(OUTA, "$(P)FaultExtMsg PP MS")
}

record(stringin, "$(P)FaultExtMsg") {
    field(DESC, "External Fault")
}

record(aSub, "$(P)WarningAsub"){
    field(DESC, "Warning message aSub")
    field(ASG,  "Internal")
    field(SNAM, "asFaultMsg")
    field(INPA, "$(P)WarningCode CP MS")
    field(FTA,  "LONG")  
    field(NOA,  "1")
    field(FTVA, "STRING")  
    field(NOVA, "1")
    field(OUTA, "$(P)WarningMsg PP MS")
}

record(stringin, "$(P)WarningMsg") {
    field(DESC, "Warning")
}

record(calcout, "$(P)FaultSumCalc") {
    field(DESC, "Fault Summary Calc")
    field(ASG,  "Internal")
    field(INPA, "$(P)ErrCodeInt CP")
    field(INPB, "$(P)ErrCodeExt CP")
    field(CALC, "(A>0 && B>0)?3:(A>0)?1:(B>0)?2:4")
    field(OUT,  "$(P)FaultSummary PP")
}

record(mbbi, "$(P)FaultSummary") {
    field(DESC, "Fault Summary")
    field(ZRVL, "0")
    field(ZRST, "Unknown")
    field(ZRSV, "MINOR")
    field(ONVL, "1")
    field(ONST, "Internal Fault")
    field(ONSV, "MAJOR")
    field(TWVL, "2")
    field(TWST, "External Fault")
    field(TWSV, "MAJOR")
    field(THVL, "3")
    field(THST, "Multiple Faults")
    field(THSV, "MAJOR")
    field(FRVL, "4")
    field(FRST, "OK")
    field(FRSV, "NO_ALARM")
}

#--- Alarm summaries -------------------------------------------------
record(calc, "$(P)MiscAlarmSum") {
    field(DESC, "Misc Alarm Sum")
    field(INPA, "$(P)ACEnableRBV CP MS")
    field(INPB, "$(P)ThermoStat CP MS")
    field(INPC, "$(P)WtrLeakStat CP MS")
    field(INPD, "$(P)480VACStat CP MS")
    field(INPE, "$(P)Humidity CP MS")
    field(INPF, "$(P)LCWOutFlow CP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)VoltAlarmSum") {
    field(DESC, "Voltage Alarm Sum")
    field(INPA, "$(P)PSVoltRBV CP MS")
    field(INPB, "$(P)DA_PS1_V CP MS")
    field(INPC, "$(P)DA_PS2_V CP MS")
    field(INPD, "$(P)FA1_PS1_V CP MS")
    field(INPE, "$(P)FA1_PS2_V CP MS")
    field(INPF, "$(P)FA2_PS1_V CP MS")
    field(INPG, "$(P)FA2_PS2_V CP MS")
    field(INPH, "$(P)FA3_PS1_V CP MS")
    field(INPI, "$(P)FA3_PS2_V CP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)DACurrAlarmSum") {
    field(DESC, "DA Current Alarm Sum")
    field(INPA, "$(P)DA_I1 CP MS")
    field(INPB, "$(P)DA_I2 CP MS")
    field(FLNK, "$(P)CurrAlarmSum")
}

record(calc, "$(P)FA1CurrAlarmSum") {
    field(DESC, "FA1 Current Alarm Sum")
    field(INPA, "$(P)FA1_I1 CP MS")
    field(INPB, "$(P)FA1_I2 CP MS")
    field(INPC, "$(P)FA1_I3 CP MS")
    field(INPD, "$(P)FA1_I4 CP MS")
    field(INPE, "$(P)FA1_I5 CP MS")
    field(INPF, "$(P)FA1_I6 CP MS")
    field(INPG, "$(P)FA1_I7 CP MS")
    field(INPH, "$(P)FA1_I8 CP MS")
    field(FLNK, "$(P)CurrAlarmSum")
}

record(calc, "$(P)FA2CurrAlarmSum") {
    field(DESC, "FA2 Current Alarm Sum")
    field(INPA, "$(P)FA2_I1 CP MS")
    field(INPB, "$(P)FA2_I2 CP MS")
    field(INPC, "$(P)FA2_I3 CP MS")
    field(INPD, "$(P)FA2_I4 CP MS")
    field(INPE, "$(P)FA2_I5 CP MS")
    field(INPF, "$(P)FA2_I6 CP MS")
    field(INPG, "$(P)FA2_I7 CP MS")
    field(INPH, "$(P)FA2_I8 CP MS")
    field(FLNK, "$(P)CurrAlarmSum")
}

record(calc, "$(P)FA3CurrAlarmSum") {
    field(DESC, "FA3 Current Alarm Sum")
    field(INPA, "$(P)FA3_I1 CP MS")
    field(INPB, "$(P)FA3_I2 CP MS")
    field(INPC, "$(P)FA3_I3 CP MS")
    field(INPD, "$(P)FA3_I4 CP MS")
    field(INPE, "$(P)FA3_I5 CP MS")
    field(INPF, "$(P)FA3_I6 CP MS")
    field(INPG, "$(P)FA3_I7 CP MS")
    field(INPH, "$(P)FA3_I8 CP MS")
    field(FLNK, "$(P)CurrAlarmSum")
}

record(calc, "$(P)CurrAlarmSum") {
    field(DESC, "Current Alarm Sum")
    field(INPA, "$(P)DACurrAlarmSum MS")
    field(INPB, "$(P)FA1CurrAlarmSum MS")
    field(INPC, "$(P)FA2CurrAlarmSum MS")
    field(INPD, "$(P)FA3CurrAlarmSum MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)FA1PwrAlarmSum") {
    field(DESC, "FA1 Power Alarm Sum")
    field(INPA, "$(P)FA1_Pwr1 CP MS")
    field(INPB, "$(P)FA1_Pwr2 CP MS")
    field(INPC, "$(P)FA1_Pwr3 CP MS")
    field(INPD, "$(P)FA1_Pwr4 CP MS")
    field(FLNK, "$(P)PwrAlarmSum")
}

record(calc, "$(P)FA2PwrAlarmSum") {
    field(DESC, "FA2 Power Alarm Sum")
    field(INPA, "$(P)FA2_Pwr1 CP MS")
    field(INPB, "$(P)FA2_Pwr2 CP MS")
    field(INPC, "$(P)FA2_Pwr3 CP MS")
    field(INPD, "$(P)FA2_Pwr4 CP MS")
    field(FLNK, "$(P)PwrAlarmSum")
}

record(calc, "$(P)FA3PwrAlarmSum") {
    field(DESC, "FA3 Power Alarm Sum")
    field(INPA, "$(P)FA3_Pwr1 CP MS")
    field(INPB, "$(P)FA3_Pwr2 CP MS")
    field(INPC, "$(P)FA3_Pwr3 CP MS")
    field(INPD, "$(P)FA3_Pwr4 CP MS")
    field(FLNK, "$(P)PwrAlarmSum")
}

record(calc, "$(P)PwrAlarmSum") {
    field(DESC, "Power Alarm Sum")
    field(INPA, "$(P)DrvPwr CP MS")
    field(INPB, "$(P)FwdPwr CP MS")
    field(INPC, "$(P)RefPwr CP MS")
    field(INPD, "$(P)FA1PwrAlarmSum MS")
    field(INPE, "$(P)FA2PwrAlarmSum MS")
    field(INPF, "$(P)FA3PwrAlarmSum MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)TempAlarmSum") {
    field(DESC, "Temp Alarm Sum")
    field(INPA, "$(P)CtrlAirTemp CP MS")
    field(INPB, "$(P)DA_HSTemp CP MS")
    field(INPC, "$(P)FA1_HSTemp CP MS")
    field(INPD, "$(P)FA2_HSTemp CP MS")
    field(INPE, "$(P)FA3_HSTemp CP MS")
    field(INPF, "$(P)PSAirTemp CP MS")
    field(INPG, "$(P)HXInAirTemp CP MS")
    field(INPH, "$(P)LCWInTemp CP MS")
    field(INPI, "$(P)LCWOutTemp CP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)FanAlarmSum") {
    field(DESC, "Fan Alarm Sum")
    field(INPA, "$(P)CtrlFanSpeed CP MS")
    field(INPB, "$(P)DA_FanSpeed CP MS")
    field(INPC, "$(P)FA1_FanSpeed CP MS")
    field(INPD, "$(P)FA2_FanSpeed CP MS")
    field(INPE, "$(P)FA3_FanSpeed CP MS")
    field(INPF, "$(P)PSFan1Speed CP MS")
    field(INPG, "$(P)PSFan2Speed CP MS")
    field(INPH, "$(P)PSFan3Speed CP MS")
    field(INPI, "$(P)HXFan1Speed CP MS")
    field(INPJ, "$(P)HXFan2Speed CP MS")
    field(INPK, "$(P)HXFan3Speed CP MS")
    field(INPL, "$(P)HXFan4Speed CP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)FaultAlarmSum") {
    field(DESC, "Fault Alarm Sum")
    field(INPA, "$(P)ErrCodeInt CP MS")
    field(INPB, "$(P)ErrCodeExt CP MS")
    field(INPC, "$(P)WarningCode CP MS")
    field(INPD, "$(P)PSFault CP MS")
    field(INPE, "$(P)DrainVoltError CP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)AlarmSummary") {
    field(DESC, "Alarm Summary")
    field(INPA, "$(P)MiscAlarmSum MS")
    field(INPB, "$(P)VoltAlarmSum MS")
    field(INPC, "$(P)CurrAlarmSum MS")
    field(INPD, "$(P)PwrAlarmSum MS")
    field(INPE, "$(P)TempAlarmSum MS")
    field(INPF, "$(P)FanAlarmSum MS")
    field(INPG, "$(P)FaultAlarmSum MS")
    field(INPH, "$(P)DCEnableRBV CP MS")
    field(INPI, "$(P)RFEnableRBV CP MS")
    field(INPJ, "$(P)DrainVoltSetpt CP MS")
    field(INPK, "$(P)DrainVoltRBV CP MS")
}

