
record(calc, "$(P)1:SSA:NumOnCalc"){
    field(DESC, "Number of SSAs On")
    field(INPA, "$(P)0100:SSA:NumOn CP")
    field(CALC, "A")
    field(FLNK, "$(P)1:SSA:NumOn")
}

record(calc, "$(P)1:SSA:NumOffCalc"){
    field(DESC, "Number of SSAs Off")
    field(INPA, "$(P)0100:SSA:NumOff CP")
    field(CALC, "A")
    field(FLNK, "$(P)1:SSA:NumOff")
}

record(calc, "$(P)1:SSA:NumFaultedCalc"){
    field(DESC, "Number of SSAs Faulted")
    field(INPA, "$(P)0100:SSA:NumFaulted CP")
    field(CALC, "A")
    field(FLNK, "$(P)1:SSA:NumFaulted")
}

