
# --- Reset fault and restore operation --------------------------------------
# Sequence is:
# 1) Reset internal and external faults; 
# 2) Set DC enable;
# 3) Set PS output control voltage;
# 4) Set RF enable
# For more info, see manual p.9)
record(seq, "$(P)FltReset") {
    field(DESC, "Reset fault and restore operation")
    field(DLY1, "0")
    field(DOL1, "1")
    field(LNK1, "$(P)FltExtReset PP")
    field(DLY2, "1.5")
    field(DOL2, "1")
    field(LNK2, "$(P)DCEnable PP")
    field(DLY3, "1.5")
    field(DOL3, "1")
    field(LNK3, "$(P)RFEnable PP")
}

# --- Run state readback -------------------------------------------------------------
record(calc, "$(P)RunState") {
    field(DESC, "Run state readback")
    field(INPA, "$(P)ACEnableRBV CP")
    field(INPB, "$(P)DCEnableRBV CP")
    field(INPC, "$(P)RFEnableRBV CP")
    field(INPD, "$(P)FaultInt CP")
    field(INPE, "$(P)FaultExt CP")
    field(CALC, "((D+E)=0&&A&&B&&C)?0:(D+E)>0?1:2")
    field(FLNK, "$(P)RunStateMsg")
}

record(mbbi, "$(P)RunStateMsg") {
    field(DESC, "Run state readback message")
    field(INP,  "$(P)RunState")
    field(ZRVL, "0")
    field(ZRST, "Running")
    field(ZRSV, "NO_ALARM")
    field(ONVL, "1")
    field(ONST, "Faulted")
    field(ONSV, "MAJOR")
    field(TWVL, "2")
    field(TWST, "Disabled")
    field(TWSV, "MINOR")
}


