# --- These records are common to all R&K SSAs -----------

# --- Sequencer records -------------
record(bo, "$(P)FaultReset"){
    field(DESC, "Fault Reset")
    field(ASG,  "$(ASG)")
    field(ZNAM, "Standby")
    field(ONAM, "Resetting...")
}

record(bo, "$(P)PowerOn"){
    field(DESC, "Power On")
    field(ASG,  "$(ASG)")
    field(ZNAM, "Standby")
    field(ONAM, "Powering On...")
}

record(bo, "$(P)PowerOff"){
    field(DESC, "Power Off")
    field(ASG,  "$(ASG)")
    field(ZNAM, "Standby")
    field(ONAM, "Powering Off...")
}

record(bo, "$(P)SystemReboot"){
    field(DESC, "System Reboot")
    field(ASG,  "$(ASG)")
    field(ZNAM, "Standby")
    field(ONAM, "Rebooting...")
}

record(bo, "$(P)XPortReboot"){
    field(DESC, "X-Port Reboot")
    field(ASG,  "$(ASG)")
    field(ZNAM, "Standby")
    field(ONAM, "Rebooting...")
}

record(bo, "$(P)ProcessorReset"){
    field(DESC, "Processor Reset")
    field(ASG,  "$(ASG)")
    field(ZNAM, "Standby")
    field(ONAM, "Resetting...")
}

record(mbbi, "$(P)StatusMsg") {
    field(DESC, "Status Message")
    field(ZRVL, "0")
    field(ZRST, "Unknown")
    field(ZRSV, "MINOR")
    field(ONVL, "1")
    field(ONST, "Faulted")
    field(ONSV, "MAJOR")
    field(TWVL, "2")
    field(TWST, "SSA Off")
    field(TWSV, "MINOR")
    field(THVL, "3")
    field(THST, "SSA On")
    field(THSV, "NO_ALARM")
    field(FRVL, "4")
    field(FRST, "Resetting Faults...")
    field(FRSV, "NO_ALARM")
    field(FVVL, "5")
    field(FVST, "Powering On...")
    field(FVSV, "NO_ALARM")
    field(SXVL, "6")
    field(SXST, "Powering Off...")
    field(SXSV, "NO_ALARM")
    field(SVVL, "7")
    field(SVST, "Fault Reset Failed...")
    field(SVSV, "MINOR")
    field(EIVL, "8")
    field(EIST, "Power On Failed...")
    field(EISV, "MINOR")
    field(NIVL, "9")
    field(NIST, "Power Off Failed...")
    field(NISV, "MINOR")
    field(TEVL, "10")
    field(TEST, "Rebooting SSA...")
    field(TESV, "MINOR")
    field(ELVL, "11")
    field(ELST, "Rebooting X-Port...")
    field(ELSV, "MINOR")
    field(TVVL, "12")
    field(TVST, "Resetting Processor...")
    field(TVSV, "MINOR")
    field(FLNK, "$(P)PowerOnStatusCalc")
}

record(bo, "$(P)SeqDebug"){
    field(DESC, "Seq debug printing")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(VAL,  "0")
    field(PINI, "1")
}

# --- Other common records --------
record(mbbo, "$(P)Type") {
    field(DESC, "SSA type/model")
    field(ZRVL, "0")
    field(ZRST, "RK CA1300 7kW")
    field(ONVL, "1")
    field(ONST, "RK CA1300 4.6kW")
    field(TWVL, "2")
    field(TWST, "RK CA1300")
    field(THVL, "3")
    field(THST, "RK CA3900")
    field(FRVL, "4")
    field(FRST, "RK CA186")
    field(FVVL, "5")
    field(FVST, "RK CA199")
    field(VAL,  "$(TYPE=0)")
    field(PINI, "1")
}

record(calc, "$(P)PowerOnStatusCalc"){
    field(DESC, "Power On status calc")
    field(INPA, "$(P)StatusMsg")
    field(CALC, "A=3")
    field(FLNK, "$(P)PowerOnStatus")
}

record(bi, "$(P)PowerOnStatus"){
    field(DESC, "Power On status")
    field(INP,  "$(P)PowerOnStatusCalc")
    field(ZNAM, "Off")
    field(ONAM, "On")
}

record(stringout, "$(P)Cryomodule"){
    field(DESC, "SSA CM mapping")
    field(VAL,  "$(CM)")
    field(PINI, "1")
}

record(stringout, "$(P)Cav1"){
    field(DESC, "SSA cavity mapping")
    field(VAL,  "$(CAV1)")
    field(PINI, "1")
}

record(stringout, "$(P)Cav2"){
    field(DESC, "SSA cavity mapping")
    field(VAL,  "$(CAV2)")
    field(PINI, "1")
}

