# --- These records are used in the sequencer program -----------
record(bo, "$(P)FaultReset"){
    field(DESC, "Fault Reset")
    field(ZNAM, "Standby")
    field(ONAM, "Resetting...")
}

record(bo, "$(P)PowerOn"){
    field(DESC, "Power On")
    field(ZNAM, "Standby")
    field(ONAM, "Powering On...")
}

record(bo, "$(P)PowerOff"){
    field(DESC, "Power Off")
    field(ZNAM, "Standby")
    field(ONAM, "Powering Off...")
}

record(bo, "$(P)SystemReboot"){
    field(DESC, "System Reboot")
    field(ZNAM, "Standby")
    field(ONAM, "Rebooting...")
}

record(bo, "$(P)XPortReboot"){
    field(DESC, "X-Port Reboot")
    field(ZNAM, "Standby")
    field(ONAM, "Rebooting...")
}

# --- Drain Voltage <---> Output Voltage --------------
#record(ao, "$(P)DrainVoltSetpt") {
#    field(DESC, "Drain Voltage Setpt [V]")
#    field(EGU,  "V")
#    field(PREC, "2")
#    field(LOPR, "13.5")
#    field(HOPR, "48")
#    field(DRVL, "13.5")
#    field(DRVH, "48")
#    field(FLNK, "$(P)DrainVCalc")
#    info(autosaveFields, "VAL")
#}
#
#record(calcout, "$(P)DrainVCalc") {
#    field(DESC, "Drain to output voltage conversion")
#    field(ASG,  "Internal")
#    field(INPA, "$(P)DrainVoltSetpt")
#    field(INPB, "131")
#    field(INPC, "2.5")
#    field(CALC, "(A*B)/C")
#    field(OUT,  "$(P)PSVolt_FO PP")
#}
#
#record(calc, "$(P)DrainVoltRBVCalc") {
#    field(DESC, "Drain voltage calc")
#    field(ASG,  "Internal")
#    field(INPA, "$(P)PSVoltRBV1 CPP MS")
#    field(INPD, "$(P)PSVoltRBV2 CPP MS")
#    field(INPB, "131")
#    field(INPC, "2.5")
#    field(EGU,  "V")
#    field(PREC, "2")
#    field(CALC, "(((A+D)/2)*C)/B")
#    field(FLNK, "$(P)DrainVoltRBV")
#}
#
#record(ai, "$(P)DrainVoltRBV") {
#    field(DESC, "Drain voltage RBV")
#    field(INP, "$(P)DrainVoltRBVCalc MS")
#    field(EGU,  "V")
#    field(PREC, "2")
#}
#
#record(dfanout, "$(P)PSVolt_FO") {
#    field(DESC, "PS output voltage fanout")
#    field(ASG,  "Internal")
#    field(OUTA, "$(P)PSVoltSetpt1 PP")
#    field(OUTB, "$(P)PSVoltSetpt2 PP")
#}

# --- Drive (input) power -------------------------------------------------------------
record(calc, "$(P)DrvPwr1_dBm") {
    field(DESC, "Drive power 1 [dBm]")
    field(INPA, "$(P)DrvPwr1 CPP MS")
    field(INPB, "-1.095E-12")
    field(INPC, "7.43E-9")
    field(INPD, "-1.977E-5")
    field(INPE, "0.0296")
    field(INPF, "-15.618")
    field(EGU,  "dBm")
    field(PREC, "1")
    field(CALC, "A^4*B+A^3*C+A^2*D+A*E+F")
    field(FLNK, "$(P)DrvPwr1_mW")
}

record(calc, "$(P)DrvPwr1_mW") {
    field(DESC, "Drive power 1 [mW]")
    field(INPA, "$(P)DrvPwr1 MS")
    field(INPB, "1.065E-6")
    field(INPC, "3.147E-5")
    field(INPD, "0.0404")
    field(EGU,  "mW")
    field(PREC, "1")
    field(CALC, "A^2*B+A*C+D")
}

record(calc, "$(P)DrvPwr2_dBm") {
    field(DESC, "Drive power 2 [dBm]")
    field(INPA, "$(P)DrvPwr2 CPP MS")
    field(INPB, "-1.095E-12")
    field(INPC, "7.43E-9")
    field(INPD, "-1.977E-5")
    field(INPE, "0.0296")
    field(INPF, "-15.618")
    field(EGU,  "dBm")
    field(PREC, "1")
    field(CALC, "A^4*B+A^3*C+A^2*D+A*E+F")
    field(FLNK, "$(P)DrvPwr2_mW")
}

record(calc, "$(P)DrvPwr2_mW") {
    field(DESC, "Drive power 2 [mW]")
    field(INPA, "$(P)DrvPwr2 MS")
    field(INPB, "1.065E-6")
    field(INPC, "3.147E-5")
    field(INPD, "0.0404")
    field(EGU,  "mW")
    field(PREC, "1")
    field(CALC, "A^2*B+A*C+D")
}
#---------------------------------------------------------------

record(mbbi, "$(P)StatusMsg") {
    field(DESC, "Status Message")
    field(ZRVL, "0")
    field(ZRST, "Unknown")
    field(ZRSV, "MINOR")
    field(ONVL, "1")
    field(ONST, "Faulted")
    field(ONSV, "MAJOR")
    field(TWVL, "2")
    field(TWST, "SSA Off")
    field(TWSV, "MINOR")
    field(THVL, "3")
    field(THST, "SSA On")
    field(THSV, "NO_ALARM")
    field(FRVL, "4")
    field(FRST, "Resetting Faults...")
    field(FRSV, "NO_ALARM")
    field(FVVL, "5")
    field(FVST, "Powering On...")
    field(FVSV, "NO_ALARM")
    field(SXVL, "6")
    field(SXST, "Powering Off...")
    field(SXSV, "NO_ALARM")
    field(SVVL, "7")
    field(SVST, "Fault Reset Failed...")
    field(SVSV, "MINOR")
    field(EIVL, "8")
    field(EIST, "Power On Failed...")
    field(EISV, "MINOR")
    field(NIVL, "9")
    field(NIST, "Power Off Failed...")
    field(NISV, "MINOR")
    field(TEVL, "10")
    field(TEST, "Rebooting SSA...")
    field(TESV, "MINOR")
    field(ELVL, "11")
    field(ELST, "Rebooting X-Port...")
    field(ELSV, "MINOR")
}


# --- Fault messages -------------------------------------------------------------
record(aSub, "$(P)FaultIntAsub"){
    field(DESC, "Internal fault message aSub")
    field(ASG,  "Internal")
    field(SNAM, "asFaultMsg_CA3900")
    field(INPA, "$(P)ErrCodeInt CP MS")
    field(FTA,  "LONG")  
    field(NOA,  "1")
    field(FTVA, "STRING")  
    field(NOVA, "1")
    field(OUTA, "$(P)FaultIntMsg PP MS")
}

record(stringin, "$(P)FaultIntMsg") {
    field(DESC, "Internal Fault")
}

record(aSub, "$(P)FaultExtAsub"){
    field(DESC, "External fault message aSub")
    field(ASG,  "Internal")
    field(SNAM, "asFaultMsg_CA3900")
    field(INPA, "$(P)ErrCodeExt CP MS")
    field(FTA,  "LONG")  
    field(NOA,  "1")
    field(FTVA, "STRING")  
    field(NOVA, "1")
    field(OUTA, "$(P)FaultExtMsg PP MS")
}

record(stringin, "$(P)FaultExtMsg") {
    field(DESC, "External Fault")
}

record(aSub, "$(P)WarningAsub"){
    field(DESC, "Warning message aSub")
    field(ASG,  "Internal")
    field(SNAM, "asFaultMsg_CA3900")
    field(INPA, "$(P)WarningCode CP MS")
    field(FTA,  "LONG")  
    field(NOA,  "1")
    field(FTVA, "STRING")  
    field(NOVA, "1")
    field(OUTA, "$(P)WarningMsg PP MS")
}

record(stringin, "$(P)WarningMsg") {
    field(DESC, "Warning")
}

record(calcout, "$(P)FaultSumCalc") {
    field(DESC, "Fault Summary Calc")
    field(ASG,  "Internal")
    field(INPA, "$(P)ErrCodeInt CP")
    field(INPB, "$(P)ErrCodeExt CP")
    field(CALC, "(A>0 && B>0)?3:(A>0)?1:(B>0)?2:4")
    field(OUT,  "$(P)FaultSummary PP")
}

record(mbbi, "$(P)FaultSummary") {
    field(DESC, "Fault Summary")
    field(ZRVL, "0")
    field(ZRST, "Unknown")
    field(ZRSV, "MINOR")
    field(ONVL, "1")
    field(ONST, "Internal Fault")
    field(ONSV, "MAJOR")
    field(TWVL, "2")
    field(TWST, "External Fault")
    field(TWSV, "MAJOR")
    field(THVL, "3")
    field(THST, "Multiple Faults")
    field(THSV, "MAJOR")
    field(FRVL, "4")
    field(FRST, "OK")
    field(FRSV, "NO_ALARM")
}

#--- Alarm summaries -------------------------------------------------
record(calc, "$(P)MiscAlarmSum") {
    field(DESC, "Misc Alarm Sum")
    field(INPB, "$(P)ThermoStat CP MS")
    field(INPC, "$(P)WtrLeakStat CP MS")
    field(INPD, "$(P)480VACStat CP MS")
    field(INPE, "$(P)Humidity CP MS")
    field(INPF, "$(P)LCWOutFlow CP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)VoltAlarmSum1") {
    field(DESC, "Voltage Alarm Sum 1")
    field(INPA, "$(P)PSVoltRBV1 CP MS")
    field(INPB, "$(P)PSVoltRBV2 CP MS")
    field(INPC, "$(P)PS_Plus12_V CP MS")
    field(INPD, "$(P)PS_Minus12_V CP MS")
    field(INPE, "$(P)PS_Plus24_V CP MS")
    field(INPF, "$(P)FA1_PS_V1 CP MS")
    field(INPG, "$(P)FA1_PS_V2 CP MS")
    field(INPH, "$(P)FA2_PS_V1 CP MS")
    field(INPI, "$(P)FA2_PS_V2 CP MS")
    field(INPJ, "$(P)FA3_PS_V1 CP MS")
    field(INPK, "$(P)FA3_PS_V2 CP MS")
    field(FLNK, "$(P)VoltAlarmSum")
}

record(calc, "$(P)VoltAlarmSum2") {
    field(DESC, "Voltage Alarm Sum 2")
    field(INPA, "$(P)FA4_PS_V1 CP MS")
    field(INPB, "$(P)FA4_PS_V2 CP MS")
    field(FLNK, "$(P)VoltAlarmSum")
}

record(calc, "$(P)VoltAlarmSum") {
    field(DESC, "Voltage Alarm Sum")
    field(INPA, "$(P)VoltAlarmSum1 MS")
    field(INPB, "$(P)VoltAlarmSum2 MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)FA1CurrAlarmSum") {
    field(DESC, "FA1 Current Alarm Sum")
    field(INPA, "$(P)FA1_I1 CP MS")
    field(INPB, "$(P)FA1_I2 CP MS")
    field(INPC, "$(P)FA1_I3 CP MS")
    field(INPD, "$(P)FA1_I4 CP MS")
    field(INPE, "$(P)FA1_I5 CP MS")
    field(INPF, "$(P)FA1_I6 CP MS")
    field(INPG, "$(P)FA1_I7 CP MS")
    field(INPH, "$(P)FA1_I8 CP MS")
    field(INPI, "$(P)FA1_I9 CP MS")
    field(INPJ, "$(P)FA1_I10 CP MS")
    field(INPK, "$(P)FA1_DA_I CP MS")
    field(FLNK, "$(P)CurrAlarmSum")
}

record(calc, "$(P)FA2CurrAlarmSum") {
    field(DESC, "FA2 Current Alarm Sum")
    field(INPA, "$(P)FA2_I1 CP MS")
    field(INPB, "$(P)FA2_I2 CP MS")
    field(INPC, "$(P)FA2_I3 CP MS")
    field(INPD, "$(P)FA2_I4 CP MS")
    field(INPE, "$(P)FA2_I5 CP MS")
    field(INPF, "$(P)FA2_I6 CP MS")
    field(INPG, "$(P)FA2_I7 CP MS")
    field(INPH, "$(P)FA2_I8 CP MS")
    field(INPI, "$(P)FA2_I9 CP MS")
    field(INPJ, "$(P)FA2_I10 CP MS")
    field(INPK, "$(P)FA2_DA_I CP MS")
    field(FLNK, "$(P)CurrAlarmSum")
}

record(calc, "$(P)FA3CurrAlarmSum") {
    field(DESC, "FA3 Current Alarm Sum")
    field(INPA, "$(P)FA3_I1 CP MS")
    field(INPB, "$(P)FA3_I2 CP MS")
    field(INPC, "$(P)FA3_I3 CP MS")
    field(INPD, "$(P)FA3_I4 CP MS")
    field(INPE, "$(P)FA3_I5 CP MS")
    field(INPF, "$(P)FA3_I6 CP MS")
    field(INPG, "$(P)FA3_I7 CP MS")
    field(INPH, "$(P)FA3_I8 CP MS")
    field(INPI, "$(P)FA3_I9 CP MS")
    field(INPJ, "$(P)FA3_I10 CP MS")
    field(INPK, "$(P)FA3_DA_I CP MS")
    field(FLNK, "$(P)CurrAlarmSum")
}

record(calc, "$(P)FA4CurrAlarmSum") {
    field(DESC, "FA4 Current Alarm Sum")
    field(INPA, "$(P)FA4_I1 CP MS")
    field(INPB, "$(P)FA4_I2 CP MS")
    field(INPC, "$(P)FA4_I3 CP MS")
    field(INPD, "$(P)FA4_I4 CP MS")
    field(INPE, "$(P)FA4_I5 CP MS")
    field(INPF, "$(P)FA4_I6 CP MS")
    field(INPG, "$(P)FA4_I7 CP MS")
    field(INPH, "$(P)FA4_I8 CP MS")
    field(INPI, "$(P)FA4_I9 CP MS")
    field(INPJ, "$(P)FA4_I10 CP MS")
    field(INPK, "$(P)FA4_DA_I CP MS")
    field(FLNK, "$(P)CurrAlarmSum")
}

record(calc, "$(P)CurrAlarmSum") {
    field(DESC, "Current Alarm Sum")
    field(INPA, "$(P)FA1CurrAlarmSum MS")
    field(INPB, "$(P)FA2CurrAlarmSum MS")
    field(INPC, "$(P)FA3CurrAlarmSum MS")
    field(INPD, "$(P)FA4CurrAlarmSum MS")
    field(INPE, "$(P)PreAmp_I1 CP MS")
    field(INPF, "$(P)PreAmp_I2 CP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)FA1PwrAlarmSum") {
    field(DESC, "FA1 Power Alarm Sum")
    field(INPA, "$(P)FA1_Pwr1 CP MS")
    field(INPB, "$(P)FA1_Pwr2 CP MS")
    field(INPC, "$(P)FA1_Pwr3 CP MS")
    field(INPD, "$(P)FA1_Pwr4 CP MS")
    field(INPE, "$(P)FA1_Pwr5 CP MS")
    field(FLNK, "$(P)PwrAlarmSum")
}

record(calc, "$(P)FA2PwrAlarmSum") {
    field(DESC, "FA2 Power Alarm Sum")
    field(INPA, "$(P)FA2_Pwr1 CP MS")
    field(INPB, "$(P)FA2_Pwr2 CP MS")
    field(INPC, "$(P)FA2_Pwr3 CP MS")
    field(INPD, "$(P)FA2_Pwr4 CP MS")
    field(INPE, "$(P)FA2_Pwr5 CP MS")
    field(FLNK, "$(P)PwrAlarmSum")
}

record(calc, "$(P)FA3PwrAlarmSum") {
    field(DESC, "FA3 Power Alarm Sum")
    field(INPA, "$(P)FA3_Pwr1 CP MS")
    field(INPB, "$(P)FA3_Pwr2 CP MS")
    field(INPC, "$(P)FA3_Pwr3 CP MS")
    field(INPD, "$(P)FA3_Pwr4 CP MS")
    field(INPE, "$(P)FA3_Pwr5 CP MS")
    field(FLNK, "$(P)PwrAlarmSum")
}

record(calc, "$(P)FA4PwrAlarmSum") {
    field(DESC, "FA4 Power Alarm Sum")
    field(INPA, "$(P)FA4_Pwr1 CP MS")
    field(INPB, "$(P)FA4_Pwr2 CP MS")
    field(INPC, "$(P)FA4_Pwr3 CP MS")
    field(INPD, "$(P)FA4_Pwr4 CP MS")
    field(INPE, "$(P)FA4_Pwr5 CP MS")
    field(FLNK, "$(P)PwrAlarmSum")
}

record(calc, "$(P)PwrAlarmSum") {
    field(DESC, "Power Alarm Sum")
    field(INPA, "$(P)DrvPwr1 CP MS")
    field(INPB, "$(P)DrvPwr2 CP MS")
    field(INPC, "$(P)FwdPwr1 CP MS")
    field(INPD, "$(P)FwdPwr2 CP MS")
    field(INPE, "$(P)RefPwr1 CP MS")
    field(INPF, "$(P)RefPwr2 CP MS")
    field(INPG, "$(P)FA1PwrAlarmSum MS")
    field(INPH, "$(P)FA2PwrAlarmSum MS")
    field(INPI, "$(P)FA3PwrAlarmSum MS")
    field(INPJ, "$(P)FA4PwrAlarmSum MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)TempAlarmSum") {
    field(DESC, "Temp Alarm Sum")
    field(INPA, "$(P)CtrlAirTemp CP MS")
    field(INPB, "$(P)FA1_HSTemp CP MS")
    field(INPC, "$(P)FA2_HSTemp CP MS")
    field(INPD, "$(P)FA3_HSTemp CP MS")
    field(INPE, "$(P)FA4_HSTemp CP MS")
    field(INPF, "$(P)PSAirTemp CP MS")
    field(INPG, "$(P)HXInAirTemp CP MS")
    field(INPH, "$(P)LCWInTemp CP MS")
    field(INPI, "$(P)LCWOutTemp CP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)FanAlarmSum1") {
    field(DESC, "Fan Alarm Sum 1")
    field(INPA, "$(P)CtrlFanSpeed CP MS")
    field(INPB, "$(P)FA1_FanSpeed CP MS")
    field(INPC, "$(P)FA2_FanSpeed CP MS")
    field(INPD, "$(P)FA3_FanSpeed CP MS")
    field(INPE, "$(P)FA4_FanSpeed CP MS")
    field(INPF, "$(P)PSFan1Speed CP MS")
    field(INPG, "$(P)PSFan2Speed CP MS")
    field(INPH, "$(P)PSFan3Speed CP MS")
    field(INPI, "$(P)HXFan1Speed CP MS")
    field(INPJ, "$(P)HXFan2Speed CP MS")
    field(INPK, "$(P)HXFan3Speed CP MS")
    field(INPL, "$(P)HXFan4Speed CP MS")
    field(FLNK, "$(P)FanAlarmSum")
}

record(calc, "$(P)FanAlarmSum2") {
    field(DESC, "Fan Alarm Sum 2")
    field(INPA, "$(P)PAmpFanSpeed CP MS")
    field(FLNK, "$(P)FanAlarmSum")
}

record(calc, "$(P)FanAlarmSum") {
    field(DESC, "Fan Alarm Sum")
    field(INPA, "$(P)FanAlarmSum1 MS")
    field(INPB, "$(P)FanAlarmSum2 MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)AlarmSummary0") {
    field(DESC, "Alarm Summary 0")
    field(INPA, "$(P)DCEnableRBV CP MS")
    field(INPB, "$(P)RFEnableRBV CP MS")
    field(INPC, "$(P)ErrCodeInt CP MS")
    field(INPD, "$(P)ErrCodeExt CP MS")
    field(INPE, "$(P)FaultSum CP MS")
    field(INPF, "$(P)WarningSum CP MS")
    field(INPG, "$(P)WarningCode CP MS")
    field(INPH, "$(P)PSFault CP MS")
    field(INPI, "$(P)PSFaultStat CP MS")
    field(INPJ, "$(P)FaultStat1 CP MS")
    field(INPK, "$(P)FaultStat2 CP MS")
    field(INPL, "$(P)FaultStat3 CP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)AlarmSummary") {
    field(DESC, "Alarm Summary")
    field(INPA, "$(P)MiscAlarmSum MS")
    field(INPB, "$(P)VoltAlarmSum MS")
    field(INPC, "$(P)CurrAlarmSum MS")
    field(INPD, "$(P)PwrAlarmSum MS")
    field(INPE, "$(P)TempAlarmSum MS")
    field(INPF, "$(P)FanAlarmSum MS")
    field(INPG, "$(P)AlarmSummary0 MS")
}


