
record(calc, "$(P)1:SSA:NumOnCalc1"){
    field(DESC, "Number of SSAs On calc")
    field(INPA, "$(P)1600:SSA:NumOn CP")
    field(INPB, "$(P)1700:SSA:NumOn CP")
    field(INPC, "$(P)1800:SSA:NumOn CP")
    field(INPD, "$(P)1900:SSA:NumOn CP")
    field(INPE, "$(P)2000:SSA:NumOn CP")
    field(INPF, "$(P)2100:SSA:NumOn CP")
    field(INPG, "$(P)2200:SSA:NumOn CP")
    field(INPH, "$(P)2300:SSA:NumOn CP")
    field(INPI, "$(P)2400:SSA:NumOn CP")
    field(INPJ, "$(P)2500:SSA:NumOn CP")
    field(INPK, "$(P)2600:SSA:NumOn CP")
    field(INPL, "$(P)2700:SSA:NumOn CP")
    field(CALC, "A+B+C+D+E+F+G+H+I+J+K+L")
    field(FLNK, "$(P)1:SSA:NumOnCalc")
}

record(calc, "$(P)1:SSA:NumOnCalc2"){
    field(DESC, "Number of SSAs On calc")
    field(INPA, "$(P)2800:SSA:NumOn CP")
    field(INPB, "$(P)2900:SSA:NumOn CP")
    field(INPC, "$(P)3000:SSA:NumOn CP")
    field(INPD, "$(P)3100:SSA:NumOn CP")
    field(INPE, "$(P)3200:SSA:NumOn CP")
    field(INPF, "$(P)3300:SSA:NumOn CP")
    field(INPG, "$(P)3400:SSA:NumOn CP")
    field(INPH, "$(P)3500:SSA:NumOn CP")
    field(CALC, "A+B+C+D+E+F+G+H")
    field(FLNK, "$(P)1:SSA:NumOnCalc")
}

record(calc, "$(P)1:SSA:NumOnCalc"){
    field(DESC, "Number of SSAs On calc")
    field(INPA, "$(P)1:SSA:NumOnCalc1")
    field(INPB, "$(P)1:SSA:NumOnCalc2")
    field(CALC, "A+B")
    field(FLNK, "$(P)1:SSA:NumOn")
}

