#--- Module $(MOD) alarm summaries -------------------------------------------------
record(calc, "$(P)$(MOD)_PIVAlarmSum") {
    field(DESC, "$(MOD) P-I-V Alarm Sum")
    field(INPA, "$(P)$(MOD)_FwdPwr.SEVR CPP MS")
    field(INPB, "$(P)$(MOD)_RefPwr.SEVR CPP MS")
    field(INPC, "$(P)$(MOD)_Dev1Drn_I.SEVR CPP MS")
    field(INPD, "$(P)$(MOD)_Dev2Drn_I.SEVR CPP MS")
    field(INPE, "$(P)$(MOD)_Drn_V.SEVR CPP MS")
    field(INPF, "$(P)$(MOD)_PS1_I.SEVR CPP MS")
    field(INPG, "$(P)$(MOD)_PS2_I.SEVR CPP MS")
    field(INPH, "$(P)$(MOD)_PS3_I.SEVR CPP MS")
    field(INPI, "$(P)$(MOD)_PS1_V.SEVR CPP MS")
    field(INPJ, "$(P)$(MOD)_PS2_V.SEVR CPP MS")
    field(INPK, "$(P)$(MOD)_PS3_V.SEVR CPP MS")
    field(FLNK, "$(P)$(MOD)_AlarmSummary")
}

record(calc, "$(P)$(MOD)_MiscAlarmSum") {
    field(DESC, "$(MOD) Misc Alarm Sum")
    field(INPA, "$(P)$(MOD)_SubCBStat.SEVR CPP MS")
    field(INPB, "$(P)$(MOD)_PwrStat.SEVR CPP MS")
    field(INPC, "$(P)$(MOD)_LCWHSTemp.SEVR CPP MS")
    field(INPD, "$(P)$(MOD)_AirTemp.SEVR CPP MS")
    field(INPE, "$(P)$(MOD)_TxFanSpd1.SEVR CPP MS")
    field(INPF, "$(P)$(MOD)_TxFanSpd2.SEVR CPP MS")
    field(INPG, "$(P)$(MOD)_FanSpd.SEVR CPP MS")
    field(INPH, "$(P)$(MOD)_HiADWarn.SEVR CPP MS")
    field(INPI, "$(P)$(MOD)_LoADWarn.SEVR CPP MS")
    field(INPJ, "$(P)$(MOD)_IO1Intlk.SEVR CPP MS")
    field(INPK, "$(P)$(MOD)_IO1Warn.SEVR CPP MS")
    field(INPL, "$(P)$(MOD)_IO2Warn.SEVR CPP MS")
    field(FLNK, "$(P)$(MOD)_AlarmSummary")
}

record(calc, "$(P)$(MOD)_AlarmSummary") {
    field(DESC, "Module $(MOD) Alarm Summary")
    field(INPA, "$(P)$(MOD)_PIVAlarmSum MS")
    field(INPB, "$(P)$(MOD)_MiscAlarmSum MS")
}

