
record(calc, "$(P)1:SSA:NumOnCalc"){
    field(DESC, "Number of SSAs On calc")
    field(INPA, "$(P)0200:SSA:NumOn CP")
    field(INPB, "$(P)0300:SSA:NumOn CP")
    field(INPC, "$(P)H100:SSA:NumOn CP")
    field(INPD, "$(P)H200:SSA:NumOn CP")
    field(CALC, "A+B+C+D")
    field(FLNK, "$(P)1:SSA:NumOn")
}

