
record(calc, "$(P)SC:SSA:NumOnCalc"){
    field(DESC, "Number of SSAs On calc")
    field(INPA, "ACCL:L0B:1:SSA:NumOn CP")
    field(INPB, "ACCL:L1B:1:SSA:NumOn CP")
    field(INPC, "ACCL:L2B:1:SSA:NumOn CP")
    field(INPD, "ACCL:L3B:1:SSA:NumOn CP")
    field(CALC, "A+B+C+D")
    field(FLNK, "$(P)SC:SSA:NumOn")
}

