
# This is a dummy PV so that all R&K SSAs can share the same sequencer routine.
# Since this register doesn't exist in this SSA, it should be set to 0.
record(longout, "$(P)RFCountdown"){
    field(DESC, "Ready for RF (dummy PV)")
    field(ASG,  "$(ASG)")
    field(HIGH, "1")
    field(HSV,  "MINOR")
    field(DOL,  "0")
    field(OMSL, "closed_loop")
    field(PINI, "1")
}

# This is a dummy PV so that all R&K SSAs can share the same sequencer routine.
# Since this register doesn't exist in this SSA, it should be set to 0.
record(longout, "$(P)CritWarnCode"){
    field(DESC, "Crit warn code (dummy PV)")
    field(ASG,  "$(ASG)")
    field(HIGH, "1")
    field(HSV,  "MINOR")
    field(DOL,  "0")
    field(OMSL, "closed_loop")
    field(PINI, "1")
}

# This is a dummy PV so that all R&K SSAs can share the same sequencer routine.
# Since this register doesn't exist in this SSA, it should be set to 0.
record(bo, "$(P)ProcReset"){
    field(DESC, "Processor reset (dummy PV)")
    field(ASG,  "$(ASG)")
    field(ZNAM, "Standby")
    field(ONAM, "Resetting...")
    field(OSV,  "MINOR")
    field(DOL,  "0")
    field(OMSL, "closed_loop")
    field(PINI, "1")
}

# This is a dummy PV so that all R&K SSAs can share the same sequencer routine.
record(calc, "$(P)ErrCodeInt"){
    field(DESC, "Int. error code (dummy PV)")
    field(ASG,  "$(ASG)")
    field(INPA, "$(P)FaultInt CP MS")
    field(CALC, "!A")
}

# This is a dummy PV so that all R&K SSAs can share the same sequencer routine.
record(calc, "$(P)ErrCodeExt"){
    field(DESC, "Ext. error code (dummy PV)")
    field(ASG,  "$(ASG)")
    field(INPA, "$(P)FaultExt CP MS")
    field(CALC, "!A")
}

# This is a dummy PV so that all R&K SSAs can share the same sequencer routine.
record(calc, "$(P)WarningCode"){
    field(DESC, "Warning code (dummy PV)")
    field(ASG,  "$(ASG)")
    field(INPA, "$(P)Warning CP MS")
    field(CALC, "!A")
}

# --- Drain Voltage <---> Output Voltage --------------
# This model doesn't have a conversion table, so I'm inferring this by setting
# reg. 3 and reading back reg. 35
record(ao, "$(P)DrainVoltSetpt") {
    field(DESC, "Drain Voltage Setpt [V]")
    field(ASG,  "$(ASG)")
    field(EGU,  "V")
    field(PREC, "2")
    field(LOPR, "13.4")
    field(HOPR, "45")
    field(DRVL, "13.4")
    field(DRVH, "45")
    field(FLNK, "$(P)DrainVCalc")
    info(autosaveFields, "VAL")
}

record(calcout, "$(P)DrainVCalc") {
    field(DESC, "Drain to output voltage conversion")
    field(ASG,  "Internal")
    field(INPA, "$(P)DrainVoltSetpt")
    field(INPB, "51.998")
    field(INPC, "2.262")
    field(CALC, "(A*B) + C")
    field(OUT,  "$(P)PSVoltSetpt PP")
    field(FLNK, "$(P)DrainVoltLoLoCalc")
}

record(calc, "$(P)DrainVoltRBVCalc") {
    field(DESC, "Drain voltage RBV calc")
    field(ASG,  "Internal")
    field(INPA, "$(P)PSVoltRBV CPP MS")
    field(CALC, "A")
    field(FLNK, "$(P)DrainVoltRBV")
}

record(ai, "$(P)DrainVoltRBV") {
    field(DESC, "Drain Voltage RBV")
    field(INP, "$(P)DrainVoltRBVCalc MS")
    field(EGU,  "V")
    field(PREC, "2")
    field(LLSV, "$(LLSV=MAJOR)")
    field(LSV,  "$(LSV=MINOR)")
    field(HSV,  "$(HSV=MINOR)")
    field(HHSV, "$(HHSV=MAJOR)")
# Alarm limits are set dynamically with the records below.
}

record(calcout, "$(P)DrainVoltLoLoCalc") {
    field(DESC, "Drain voltage LOLO calc")
    field(ASG,  "Internal")
    field(INPA, "$(P)DrainVoltSetpt")
    field(INPB, "-2.0")
    field(CALC, "A+B")
    field(OUT,  "$(P)DrainVoltRBV.LOLO")
    field(FLNK, "$(P)DrainVoltLowCalc")
}

record(calcout, "$(P)DrainVoltLowCalc") {
    field(DESC, "Drain voltage LOW calc")
    field(ASG,  "Internal")
    field(INPA, "$(P)DrainVoltSetpt")
    field(INPB, "-1.0")
    field(CALC, "A+B")
    field(OUT,  "$(P)DrainVoltRBV.LOW")
    field(FLNK, "$(P)DrainVoltHighCalc")
}

record(calcout, "$(P)DrainVoltHighCalc") {
    field(DESC, "Drain voltage HIGH calc")
    field(ASG,  "Internal")
    field(INPA, "$(P)DrainVoltSetpt")
    field(INPB, "1.0")
    field(CALC, "A+B")
    field(OUT,  "$(P)DrainVoltRBV.HIGH")
    field(FLNK, "$(P)DrainVoltHiHiCalc")
}

record(calcout, "$(P)DrainVoltHiHiCalc") {
    field(DESC, "Drain voltage HIHI calc")
    field(ASG,  "Internal")
    field(INPA, "$(P)DrainVoltSetpt")
    field(INPB, "2.0")
    field(CALC, "A+B")
    field(OUT,  "$(P)DrainVoltRBV.HIHI PP")
}

# --- Module summary -------------------------------------------------------------
record(calc, "$(P)ModuleOnSum1Calc") {
    field(DESC, "Module on summary")
    field(ASG,  "Internal")
    field(INPA, "$(P)M00_PwrStat NPP MS")
    field(INPB, "$(P)M01_PwrStat NPP MS")
    field(INPC, "$(P)M02_PwrStat NPP MS")
    field(INPD, "$(P)M03_PwrStat NPP MS")
    field(INPE, "$(P)M04_PwrStat NPP MS")
    field(INPF, "$(P)M05_PwrStat NPP MS")
    field(INPG, "$(P)M06_PwrStat NPP MS")
    field(INPH, "$(P)M07_PwrStat NPP MS")
    field(INPI, "$(P)M08_PwrStat NPP MS")
    field(INPJ, "$(P)M09_PwrStat NPP MS")
    field(INPK, "$(P)M10_PwrStat NPP MS")
    field(INPL, "$(P)M11_PwrStat NPP MS")
    field(CALC, "A&&B&&C&&D&&E&&F&&G&&H&&I&&J&&K&&L")
    field(SCAN, "1 second")
    field(FLNK, "$(P)ModuleOnSum2Calc")
}

record(calc, "$(P)ModuleOnSum2Calc") {
    field(DESC, "Module on summary")
    field(ASG,  "Internal")
    field(INPA, "$(P)M12_PwrStat NPP MS")
    field(INPB, "$(P)M13_PwrStat NPP MS")
    field(INPC, "$(P)M14_PwrStat NPP MS")
    field(INPD, "$(P)M15_PwrStat NPP MS")
    field(INPE, "$(P)M16_PwrStat NPP MS")
    field(INPF, "$(P)M17_PwrStat NPP MS")
    field(INPG, "$(P)M18_PwrStat NPP MS")
    field(INPH, "$(P)M19_PwrStat NPP MS")
    field(INPI, "$(P)M20_PwrStat NPP MS")
    field(INPJ, "$(P)M21_PwrStat NPP MS")
    field(INPK, "$(P)M22_PwrStat NPP MS")
    field(INPL, "$(P)M23_PwrStat NPP MS")
    field(CALC, "A&&B&&C&&D&&E&&F&&G&&H&&I&&J&&K&&L")
    field(FLNK, "$(P)ModuleOnSum3Calc")
}

record(calc, "$(P)ModuleOnSum3Calc") {
    field(DESC, "Module on summary")
    field(ASG,  "Internal")
    field(INPA, "$(P)M24_PwrStat NPP MS")
    field(INPB, "$(P)M25_PwrStat NPP MS")
    field(INPC, "$(P)M26_PwrStat NPP MS")
    field(INPD, "$(P)M27_PwrStat NPP MS")
    field(INPE, "$(P)M28_PwrStat NPP MS")
    field(INPF, "$(P)M29_PwrStat NPP MS")
    field(INPG, "$(P)M30_PwrStat NPP MS")
    field(CALC, "A&&B&&C&&D&&E&&F&&G")
    field(FLNK, "$(P)ModuleOnSumCalc")
}

record(calc, "$(P)ModuleOnSumCalc") {
    field(DESC, "Module on summary")
    field(ASG,  "Internal")
    field(INPA, "$(P)ModuleOnSum1Calc NPP MS")
    field(INPB, "$(P)ModuleOnSum2Calc NPP MS")
    field(INPC, "$(P)ModuleOnSum3Calc NPP MS")
    field(CALC, "A&&B&&C")
    field(FLNK, "$(P)ModuleOnSum")
}

record(bi, "$(P)ModuleOnSum") {
    field(DESC, "Module on summary")
    field(INP,  "$(P)ModuleOnSumCalc NPP MS")
    field(ZNAM, "NotAllOn")
    field(ONAM, "AllOn")
}

# --- Fault messages -------------------------------------------------------------
record(calcout, "$(P)FaultSumCalc") {
    field(DESC, "Fault Summary Calc")
    field(ASG,  "Internal")
    field(INPA, "$(P)FaultInt CPP")
    field(INPB, "$(P)FaultExt CPP")
    field(CALC, "(A=0 && B=0)?3:(A=0)?1:(B=0)?2:4")
    field(OUT,  "$(P)FaultSummary PP")
}

record(mbbi, "$(P)FaultSummary") {
    field(DESC, "Fault Summary")
    field(ZRVL, "0")
    field(ZRST, "Unknown")
    field(ZRSV, "MINOR")
    field(ONVL, "1")
    field(ONST, "Internal Fault")
    field(ONSV, "MAJOR")
    field(TWVL, "2")
    field(TWST, "External Fault")
    field(TWSV, "MAJOR")
    field(THVL, "3")
    field(THST, "Multiple Faults")
    field(THSV, "MAJOR")
    field(FRVL, "4")
    field(FRST, "OK")
    field(FRSV, "NO_ALARM")
}

#--- Alarm summaries -------------------------------------------------
record(calc, "$(P)MiscAlarmSum1") {
    field(DESC, "Misc Alarm Sum 1")
    field(ASG,  "Internal")
    field(INPA, "$(P)ACEnableRBV.SEVR CPP MS")
    field(INPB, "$(P)DrvPwr.SEVR CPP MS")
    field(INPC, "$(P)FwdPwr.SEVR CPP MS")
    field(INPD, "$(P)RefPwr.SEVR CPP MS")
    field(INPE, "$(P)480VAC1_UV.SEVR CPP MS")
    field(INPF, "$(P)480VAC2_VW.SEVR CPP MS")
    field(INPG, "$(P)480VAC3_UW.SEVR CPP MS")
    field(INPH, "$(P)Humidity.SEVR CPP MS")
    field(INPI, "$(P)LCWFlowRate.SEVR CPP MS")
    field(INPJ, "$(P)WireCheckStat.SEVR CPP MS")
    field(INPK, "$(P)VSWROver.SEVR CPP MS")
    field(INPL, "$(P)DrvrSubCBStat.SEVR CPP MS")
    field(FLNK, "$(P)MiscAlarmSum")
}

record(calc, "$(P)MiscAlarmSum2") {
    field(DESC, "Misc Alarm Sum 2")
    field(ASG,  "Internal")
    field(INPA, "$(P)DrvrPwrStat.SEVR CPP MS")
    field(FLNK, "$(P)MiscAlarmSum")
}

record(calc, "$(P)MiscAlarmSum") {
    field(DESC, "Misc Alarm Sum")
    field(INPA, "$(P)MiscAlarmSum1.SEVR MS")
    field(INPB, "$(P)MiscAlarmSum2.SEVR MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)VoltAlarmSum") {
    field(DESC, "Voltage Alarm Sum")
    field(INPA, "$(P)DrvrGainDrn_V.SEVR CPP MS")
    field(INPB, "$(P)DrvrDrn_V.SEVR CPP MS")
    field(INPC, "$(P)DrvrPS1_V.SEVR CPP MS")
    field(INPD, "$(P)DrvrPS2_V.SEVR CPP MS")
    field(INPE, "$(P)DrainVoltRBV.SEVR CPP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)CurrAlarmSum") {
    field(DESC, "Current Alarm Sum")
    field(INPA, "$(P)DrvrDev1Drn_I.SEVR CPP MS")
    field(INPB, "$(P)DrvrDev2Drn_I.SEVR CPP MS")
    field(INPC, "$(P)DrvrPS1_I.SEVR CPP MS")
    field(INPD, "$(P)DrvrPS2_I.SEVR CPP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)TempAlarmSum") {
    field(DESC, "Temp Alarm Sum")
    field(INPA, "$(P)SysAirTemp.SEVR CPP MS")
    field(INPB, "$(P)LCWInTemp.SEVR CPP MS")
    field(INPC, "$(P)LCWOutTemp.SEVR CPP MS")
    field(INPD, "$(P)HX1Temp.SEVR CPP MS")
    field(INPE, "$(P)HX2Temp.SEVR CPP MS")
    field(INPF, "$(P)CtrlAirTemp.SEVR CPP MS")
    field(INPG, "$(P)RadCombTemp.SEVR CPP MS")
    field(INPH, "$(P)DrvrLCWHSTemp.SEVR CPP MS")
    field(INPI, "$(P)DrvrAirTemp.SEVR CPP MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)FanAlarmSum1") {
    field(DESC, "Fan Alarm Sum 1")
    field(ASG,  "Internal")
    field(INPA, "$(P)HX1Fan1Spd.SEVR CPP MS")
    field(INPB, "$(P)HX1Fan2Spd.SEVR CPP MS")
    field(INPC, "$(P)HX1Fan3Spd.SEVR CPP MS")
    field(INPD, "$(P)HX1Fan4Spd.SEVR CPP MS")
    field(INPE, "$(P)HX1Fan5Spd.SEVR CPP MS")
    field(INPF, "$(P)HX1Fan6Spd.SEVR CPP MS")
    field(INPG, "$(P)HX1Fan7Spd.SEVR CPP MS")
    field(INPH, "$(P)HX1Fan8Spd.SEVR CPP MS")
    field(FLNK, "$(P)FanAlarmSum")
}

record(calc, "$(P)FanAlarmSum2") {
    field(DESC, "Fan Alarm Sum 2")
    field(ASG,  "Internal")
    field(INPA, "$(P)HX2Fan1Spd.SEVR CPP MS")
    field(INPB, "$(P)HX2Fan2Spd.SEVR CPP MS")
    field(INPC, "$(P)HX2Fan3Spd.SEVR CPP MS")
    field(INPD, "$(P)HX2Fan4Spd.SEVR CPP MS")
    field(INPE, "$(P)HX2Fan5Spd.SEVR CPP MS")
    field(INPF, "$(P)HX2Fan6Spd.SEVR CPP MS")
    field(INPG, "$(P)HX2Fan7Spd.SEVR CPP MS")
    field(INPH, "$(P)HX2Fan8Spd.SEVR CPP MS")
    field(FLNK, "$(P)FanAlarmSum")
}

record(calc, "$(P)FanAlarmSum3") {
    field(DESC, "Fan Alarm Sum 3")
    field(ASG,  "Internal")
    field(INPA, "$(P)CtrlFan1Spd.SEVR CPP MS")
    field(INPB, "$(P)CtrlFan2Spd.SEVR CPP MS")
    field(INPC, "$(P)DrvrTx1Fan1Spd.SEVR CPP MS")
    field(INPD, "$(P)DrvrTx1Fan2Spd.SEVR CPP MS")
    field(INPE, "$(P)DrvrFanSpd.SEVR CPP MS")
    field(FLNK, "$(P)FanAlarmSum")
}

record(calc, "$(P)FanAlarmSum") {
    field(DESC, "Fan Alarm Sum")
    field(INPA, "$(P)FanAlarmSum1.SEVR MS")
    field(INPB, "$(P)FanAlarmSum2.SEVR MS")
    field(INPC, "$(P)FanAlarmSum3.SEVR MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)ModuleAlarmSum1") {
    field(DESC, "Module Alarm Sum")
    field(INPA, "$(P)M00_AlarmSummary.SEVR CPP MS")
    field(INPB, "$(P)M01_AlarmSummary.SEVR CPP MS")
    field(INPC, "$(P)M02_AlarmSummary.SEVR CPP MS")
    field(INPD, "$(P)M03_AlarmSummary.SEVR CPP MS")
    field(INPE, "$(P)M04_AlarmSummary.SEVR CPP MS")
    field(INPF, "$(P)M05_AlarmSummary.SEVR CPP MS")
    field(INPG, "$(P)M06_AlarmSummary.SEVR CPP MS")
    field(INPH, "$(P)M07_AlarmSummary.SEVR CPP MS")
    field(INPI, "$(P)M08_AlarmSummary.SEVR CPP MS")
    field(INPJ, "$(P)M09_AlarmSummary.SEVR CPP MS")
    field(INPK, "$(P)M10_AlarmSummary.SEVR CPP MS")
    field(INPL, "$(P)M11_AlarmSummary.SEVR CPP MS")
    field(FLNK, "$(P)ModuleAlarmSum")
}

record(calc, "$(P)ModuleAlarmSum2") {
    field(DESC, "Module Alarm Sum")
    field(INPA, "$(P)M12_AlarmSummary.SEVR CPP MS")
    field(INPB, "$(P)M13_AlarmSummary.SEVR CPP MS")
    field(INPC, "$(P)M14_AlarmSummary.SEVR CPP MS")
    field(INPD, "$(P)M15_AlarmSummary.SEVR CPP MS")
    field(INPE, "$(P)M16_AlarmSummary.SEVR CPP MS")
    field(INPF, "$(P)M17_AlarmSummary.SEVR CPP MS")
    field(INPG, "$(P)M18_AlarmSummary.SEVR CPP MS")
    field(INPH, "$(P)M19_AlarmSummary.SEVR CPP MS")
    field(INPI, "$(P)M20_AlarmSummary.SEVR CPP MS")
    field(INPJ, "$(P)M21_AlarmSummary.SEVR CPP MS")
    field(INPK, "$(P)M22_AlarmSummary.SEVR CPP MS")
    field(INPL, "$(P)M23_AlarmSummary.SEVR CPP MS")
    field(FLNK, "$(P)ModuleAlarmSum")
}

record(calc, "$(P)ModuleAlarmSum3") {
    field(DESC, "Module Alarm Sum")
    field(INPA, "$(P)M24_AlarmSummary.SEVR CPP MS")
    field(INPB, "$(P)M25_AlarmSummary.SEVR CPP MS")
    field(INPC, "$(P)M26_AlarmSummary.SEVR CPP MS")
    field(INPD, "$(P)M27_AlarmSummary.SEVR CPP MS")
    field(INPE, "$(P)M28_AlarmSummary.SEVR CPP MS")
    field(INPF, "$(P)M29_AlarmSummary.SEVR CPP MS")
    field(INPG, "$(P)M30_AlarmSummary.SEVR CPP MS")
    field(FLNK, "$(P)ModuleAlarmSum")
}

record(calc, "$(P)ModuleAlarmSum") {
    field(DESC, "Fan Alarm Sum")
    field(INPA, "$(P)ModuleAlarmSum1.SEVR MS")
    field(INPB, "$(P)ModuleAlarmSum2.SEVR MS")
    field(INPC, "$(P)ModuleAlarmSum3.SEVR MS")
    field(FLNK, "$(P)AlarmSummary")
}

record(calc, "$(P)AlarmSummary") {
    field(DESC, "Alarm Summary")
    field(INPA, "$(P)MiscAlarmSum MS")
    field(INPB, "$(P)VoltAlarmSum MS")
    field(INPC, "$(P)CurrAlarmSum MS")
    field(INPE, "$(P)TempAlarmSum MS")
    field(INPF, "$(P)FanAlarmSum MS")
    field(INPG, "$(P)ModuleAlarmSum MS")
}

