
record(bo, "$(P)$(M)$(N=00:)SSA:$(OUT)All") {
    field(DESC, "SSAs $(OUT)")
    field(ASG,  "$(ASG)")
    field(ZNAM, "$(ZNAM="")")
    field(ONAM, "$(ONAM="")")
    field(FLNK, "$(P)$(M)$(N=00:)SSA:$(OUT)Seq")
}

record(seq, "$(P)$(M)$(N=00:)SSA:$(OUT)Seq") {
    field(DESC, "SSAs $(OUT) sequence")
    field(ASG,  "$(ASG)")
    field(SELM, "Mask")
    field(SELN, "$(MASK=15)")
    field(DLY1, "0")
    field(DOL1, "$(DOL=1)")
    field(LNK1, "$(P)$(M)$(SSA1=10:SSA):$(OUT) PP")
    field(DLY2, "$(DLY=1.0)")
    field(DOL2, "$(DOL=1)")
    field(LNK2, "$(P)$(M)$(SSA2=20:SSA):$(OUT) PP")
    field(DLY3, "$(DLY=1.0)")
    field(DOL3, "$(DOL=1)")
    field(LNK3, "$(P)$(M)$(SSA3=30:SSA):$(OUT) PP")
    field(DLY4, "$(DLY=1.0)")
    field(DOL4, "$(DOL=1)")
    field(LNK4, "$(P)$(M)$(SSA4=40:SSA):$(OUT) PP")
}

